body {
  background-color: #80b3ff;
}

.controls button {
  width: 25%;
  background-color: #000033;
  box-shadow: 0px 2px 15px #000;
  color: #696969;
  border: none;
}
.controls ul li {
  display: inline;
}
.controls h6 {
  width: 25%;
  display: inline;
}

#Matrix {
  background-color: inherit;
  margin-bottom: 20px;
}
#Matrix table {
  margin: auto;
  background-color: #80b3ff;
  box-shadow: 0px 5px 20px black;
}
#Matrix table td div {
  width: 10px;
  height: 10px;
}
