.controls button {
  width: 25%;
}
.controls ul li {
  display: inline;
}
.controls h6 {
  width: 25%;
  display: inline;
}

#Matrix table {
  border: 2px solid black;
  margin: auto;
}
#Matrix table td {
  width: 10px;
  height: 10px;
  border: 1px solid black;
}
