$background-blue: #80b3ff

body
  background-color: $background-blue
  text-align: center
  
h2, h3
  font-family: 'Inconsolata', sans-serif
  font-size: 20px
  margin: 0px

.controls
  button
    width: 25%
    background-color: #3366ff
    
    color: #fff
    border: none
  ul 
    width: 100%
  ul li
    box-shadow: 0px 0px 10px #000
    display: inline
    list-style-type: none
  h6
    width: 25%
    display: inline
    
#title
  font-family: 'Playfair Display', serif
  color: #000033
  
  
#Matrix
  background-color: inherit
  margin-top: 20px
  margin-bottom: 20px
  table
    margin: auto
    background-color: $background-blue
    box-shadow: 0px 5px 20px black
    td    
      div
        width: 10px
        height: 10px
        border: 1px solid rgba(90, 2, 19, 0.4)