body
  background-color: #291013

.controls
  button
    width: 25%
    background-color: #000033
    box-shadow: 0px 3px 5px #000
    color: #444
    border: none
  ul li
    display: inline
  h6
    width: 25%
    display: inline
    
#Matrix
  background-color: #291013
  table
    margin: auto
    background-color: #291013
    border: 2px solid #00002d
    td    
      div
        width: 10px
        height: 10px