.controls
  button
    width: 25%
  ul li
    display: inline
  h6
    width: 25%
    display: inline
    
#GameView-Matrix
  table
    border: 2px solid black
    width: 100%
    td
      width: 50px
      height: 50px
      border: 1px solid black